---
layout: default
title: Poems
---

Hello-----

<div>
{% for post in paginator.posts %}
<h1><a href="{{ post.url }}" style="font-size=1.5em">{{ post.title }}</a></h1>
<br>
<small>{{ post.date | date: "%B %-d, %Y" }}</small>
<p>{{ post.desc }}</p>
<br>
{% endfor %}
</div>

<div>
{% if paginator.previous_page %}
<span>
<a href="{{ paginator.previous_page_path }}">[ <- Later ] </a>
</span>
{% endif %}

{% if paginator.next_page %}
<span>
<a href="{{ paginator.next_page_path }}">[ Earlier -> ]</a>
</span>
{% endif %}
</div>

